.title {
  font-size:70px;
}
.email {
  width: 500px;
  background-color:#f0f8ff ;
}
.submit {
  width: 30px;
}
textarea{
  height: 60px;
}
.inquiry{
  border: 1px;
}
header{
  background-color: #bdf7f1;
}
